
#canvas{
  width: 65%;
  height: 65%;
  border-radius: 500px;
  background: green;
  position: relative;
  top: 140px;
  left: 140px;
}
#bordo {
  border-color: black;
  border-radius: 500px;
  border-width: 12px;
  border-style: solid;
  width: 770px;
  margin: auto;
  height: 770px;
/*  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7) inset, -1px -1px 1px rgba(0, 0, 0, 0.7) inset*/
  background-image:  url(/home/leo/Documenti/WEB/TO_DO_LIST_APP/IMG/clock_2.svg);
  background-size: cover;
  background-repeat: no-repeat;
  position:absolute;
}
