@import url('https://fonts.googleapis.com/css?family=Roboto');
.container{
  height:100%;
  background-color: green;
}
.titolo{
  width:100%;
  height:20%;
  display:flex;
  flex-flow:column;
  text-align:center;
  color:white;
  font-family: 'Roboto', sans-serif;
  justify-content:space-around;
}
.titolo h1{
  font-size:30px;
  font-weight:600;
  letter-spacing:3px;
}
.titolo h2{
  font-size:15px;
  font-weight:400;
  letter-spacing:4px;
}
.container_1{
  width: 100%;
  height: 81%;
}
.note{
  display:none;
}
.clocknav{
 height: 100%;
  display:flex;
  flex-flow:column;
  justify-content:space-around;
}
#clock{
  min-width:100%;
  margin-top:-2px;
  padding:10px;
}
#canvas{
  height: 85px;
  border-radius: 100px;
  margin:auto;
}
#bordo {
  border-color: black;
  border-radius: 500px;
  border-width: 12px;
  border-style: solid;
  width: 200px;
  margin: auto;
  height: 200px;
  box-shadow: inset -4px 2px 17px 2px rgba(0, 0, 0, 0.7),
              inset 6px 4px 21px rgba(0, 0, 0, 0.7);
  background-image:  url(/home/leo/Documenti/WEB/TO_DO_LIST_APP/IMG/clock_2.svg);
  background-size: cover;
  background-repeat: no-repeat;
  display:flex;
}
.commands{
  width: 100%;
  height: 40%;
}
.commands ul{
 width:100%;
  height:100%;
  display:flex;
  flex-flow:column;
  text-align:center;
  justify-content:space-around;
}
.commands ul li{
  width:80%;
  height:30%;
  margin:auto;
  text-align:center;
  border-radius: 100px;
  background-color: black;
  box-shadow:5px 5px 1px grey;
}
.commands ul li a{
  font-size: 20px;
  text-decoration:none;
  color:white;
  line-height: 50px;
}

/*list items*/
.note ul{
  margin:20px 0px;
  padding:0;
  display:flex;
  flex-flow:column;
  justify-content:space-around;
  align-items:stretch;
}
.note ul li{
  cursor:pointer;
  min-height:50px;
  text-indent:10px;
  font-size:30px;
  margin:1px 5px;
  padding:12px 8px;
  background-color:#fff;
  box-shadow: 0px 1px 2px rgba(44,62,80,0.15);
  border-radius: 5px;
  display:flex;
  justify-content:space-between;
  word-break: break-word;
}
.buttons{display:flex;}
.buttons button{
  border:none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color:rgba(255, 255, 255, 0);
  cursor:pointer;
  display:inline;
}
.buttons button svg{
  width:25px;
  height:25px;
  margin:0px 10px;
}
.buttons button svg .fill{
  transition:fill 0.2s ease;
  -moz-transition:fill 0.2s ease;
  -webkit-transition:fill 0.2s ease;
  -ms-transition:fill 0.2s ease;
  -o-transition:fill 0.2s ease;
}
.buttons .remove svg path.fill{
  fill:#636d6b;
}
.buttons .remove:hover svg path.fill{
  fill:#e85656;
}
.buttons .complete svg{
  border-radius:15px;
  border:2px solid #25b99a;
}
.buttons .complete svg path.fill{
  fill:#329c38;
}
.buttons .complete:hover svg path.fill{
  fill:#fff;
}
/*FINE ist items*/

@media screen and (min-width:768px){
  .titolo h1{
    font-size:50px;
  }
  .titolo h2{
    font-size:35px;
  }
  .container_1{
    background:green;
    width: 100%;
    height: 40%;
  }
  .note{
    display:block;
    height:100%;
    width: 70%;
  }
}
@media screen and (min-width:1280px){
  .note{
    display:inline;
    width:70%;
    height: 100%;
    border:1px black solid;
  }
  .clocknav{
   height: 100%;
    display:inline-flex;
    flex-flow:column;
    justify-content:space-around;
    width:30%;
  }
    .container_1{
    background:green;
    width: 100%;
    height: 80%;
  }
}
