*{
  box-sizing: border-box;
}
.container{
  display:flex;
  flex-flow:column nowrap;
  align-items:stretch;
  height:100%;
  width:100%;
}
.months{
  order:0;
  max-height:20%;
  background-color: rgb(50, 156, 56);
  display:flex;
  flex-flow:row nowrap;
  justify-content:space-between;
  padding:70px 20px;
  align-items: center;
}
#prev{
  order:0;
  flex:1;
}
#next{
  order:2;
  flex:1;
}
.months li{
  text-align:center;
  color:white;
  font-size:20px;
  text-transform:uppercase;
  letter-spacing: 2px;
  flex:2;
  align-self:stretch;
}
#month{

}
#year{

}
.weekdays{
  order:1;
  min-height:10%;
  background-color: rgba(50, 156, 56, 0.65);
  display:flex;
  flex-flow:row nowrap;
  justify-content:space-around;
  padding:10px;
  align-items:center;
}
.weekdays li{
 text-align:center;
 color:white;
 font-size:20px;
}
.days{
  order:1;
  height: 80%;
  /*! background-color: blue; */
  padding:10px;
}
.days li{
  display: inline-block;
  text-align: center;
  font-size:12px;
  border:1px black solid;
  width:13.59%;
  height:12%;
}
